# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-places'
      'command': 'atom-places:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Places'
      'submenu': [
        {
          'label': 'Add Bookmark'
          'command': 'atom-places:add-bookmark'
        }
      ]
    ]
  }
]
